.homeSection {
  background-image: url('../../assets/homePage/scandinavian-interior-mockup-wall-decal-background 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-height: 716px;
  width: 100%;
}

/* .mySwiper .swiper-pagination-bullet{
  display: flex !important;
  justify-items: end !important;
  align-items: end !important;
  width: 100% !important;
  border: 2px solid black !important;
  z-index: 90 !important;
  height:50px !important;
} */

.mySwiper .swiper-pagination-bullet {
  background-color: transparent !important;
  opacity: 0.9;
  border: 1px #000 solid;
}

.mySwiper .swiper-pagination-bullet-active {
  background: #3bb77e !important;
  opacity: 1;
  border: transparent;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  color: #B88E2F !important;
  border-radius: 50%;
  width: 48px !important;
  height: 48px !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.9rem !important;
  font-weight: bold !important;
  
}